{{!-- MOBILE --}}
<header class="painel-mobile header-user">
    <div class="items-header">
        <div class="hamburger"></div>
        <a class="logo" href="/"><img src="/img/svg/colib-black.svg" alt="Colib"></a>
        <a class="painel-usr" href="/"><img src="/img/svg/return.svg" alt="Minha Conta"></a>
        {{>widgets/menu/user/menu}}
    </div>
    <div class="search-box">
        {{>widgets/search_bar}}
    </div>
</header> 

<header class="painel">
    {{>widgets/menu/user/menu}}
</header>