<div id="middle">
    <div class="header-menu">
        <a class="btn-new style-button" href="/admin/groups">Voltar as minhas Comunidades</a>
        <form class="seach">
            <input type="text" class="search-input style-input" placeholder="Pesquisar">
            <button class="search-button"><img src="/img/svg/loupe.svg" alt="Pesquisar"></button>
        </form>
    </div>

    {{>msg}}

    <div class="content full groups">
        <h2>Cadastrar grupo</h2>
        <div class="form-add groups">
            <form action="/admin/groups/add" method="POST" enctype="multipart/form-data">
                <input name="title" placeholder="Nome da Comunidade" class="style-input">
                <input name="url" placeholder="Link da Comunidade" class="style-input">
                <input name="url" placeholder="Link da Comunidade" class="style-input">
            </form>
        </div>
    </div>
</div>

<link href="/css/quilljs.1.3.6.css" rel="stylesheet">

<script src="/js/quilljs.1.3.6.js"></script>

<script>
  var quill = new Quill('#content-post', {
    theme: 'snow',
    placeholder: 'Descreva aqui sua comunidade'
  });
</script>