<div id="middle">
    <div class="header-menu">
        <a class="btn-new style-button" href="/admin/library/new-file">Enviar Livro</a> 
        <form class="seach">
            <input type="text" class="search-input style-input" placeholder="Pesquisar">
            <button class="search-button"><img src="/img/svg/loupe.svg" alt="Pesquisar"></button>
        </form>
    </div>

    {{>msg}}

    <div class="content-cards side-by-side">
        {{>widgets/view-content-admin}}
        {{>widgets/list_books_painel}}
    </div>
    {{>ads}}
</div>