<header class="painel">
    <nav class="menu">
        <ul>
            <li class="item logo">
                <a title="Visão geral" href="/"><img src="/img/svg/colib-black.svg" alt="Colib"></a>
            </li>
            <li class="item library">
                <a title="Biblioteca" href="/biblioteca"><span><img src="/img/svg/open-book.svg" alt="Biblioteca"></span>Biblioteca</a>
            </li>
            <li class="item articles">
                <a title="Artigos" href="/artigos"><span><img src="/img/svg/newspaper.svg" alt="Artigos"></span>Artigos</a>
            </li>
            {{!-- <li class="item groups">
                <a title="Comunidades" href="/artigos"><span><img src="/img/svg/groups.svg" alt="Comunidades"></span>Comunidades</a>
            </li>
            <li class="item medias">
                <a title="Mídias" href="/midias"><span><img src="/img/svg/clapperboard.svg" alt="Mídias"></span>Mídias</a>
            </li> --}}
            <li class="item painel-usuario">
                {{#if user}}
                    {{#each user}}
                        {{#if access}}
                            {{#if_eq 2 access}}
                                <a title="Minha Conta" href="/admin/library"><span><img src="/img/svg/social.svg" alt="Minha Conta"></span>Minha Conta</a>
                            {{else}}
                                <a title="Minha Conta" href="/user/"><span><img src="/img/svg/social.svg" alt="Minha Conta"></span>Minha Conta</a>
                            {{/if_eq}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    <a title="Minha Conta" href="/user/login"><span><img src="/img/svg/social.svg" alt="Minha Conta"></span>Minha Conta</a>
                {{/if}}
                
            </li>
        </ul>
    </nav>
</header> 