{{!-- MOBILE --}}
<header class="painel-mobile">
    <div class="items-header">
        <div class="hamburger"></div>
        <a class="logo" href="/"><img src="/img/svg/colib-black.svg" alt="Colib"></a>
        {{#if user}}
            {{#each user}}
                {{#if access}}
                    {{#if_eq 2 access}}
                        <a class="painel-usr" href="/admin/library"><img src="/img/svg/social.svg" alt="Minha Conta"></a>
                    {{else}}
                        <a class="painel-usr" href="/user/"><img src="/img/svg/social.svg" alt="Minha Conta"></a>
                    {{/if_eq}}
                {{/if}}
            {{/each}}
        {{else}}
            <a class="painel-usr" href="/user/login"><img src="/img/svg/social.svg" alt="Minha Conta"></a>
        {{/if}}
        {{>widgets/menu/site/menu}}
    </div>
    <div class="search-box">
        {{>widgets/search_bar}}
    </div>
</header> 

{{!-- DESKTOP --}}
<header class="painel">
    {{>widgets/menu/site/menu}}
</header> 
