<span>
    <div class="ads">
        <p class="title">Patrocinadores:</p>
        <div class="partners">
            <p class="item">¯\_(ツ)_/¯</p>
        </div>
    </div>

    <div class="content-right ads">
        <p class='title'>Nos siga nas redes sociais</p>
    </div>

    <div class="content-right ads">
        <p class='title'>Apoie a Colib</p>
        <div class=""></div>
    </div>
</span>