<span class="right-menu-ads">
    <div class="ads">
        <p class="title">Parceiros</p>
        <div class="partners">
            <p class="item">¯\_(ツ)_/¯</p>
        </div>
    </div>

    <div class="content-right ads">
        <p class='title'>Siga nas redes sociais</p>
        <div class="social-items">
            <a target="_blank" href="https://www.instagram.com/colib.site/"><img src="/img/svg/instagram.svg" alt="Instagram"></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCCc3Gf7BEd4zfDzOH-rPM-w" title="Youtube" class="youtube"><img src="/img/svg/youtube.svg" alt="Youtube"></a>
        </div>
    </div>

    <div class="content-right ads">
        <p class='title'>Apoie nosso projeto</p>
        <ul class="wallets-list">
            <li class="item btc">
                <span class="title"><img src="/img/btc.png" alt="Bitcoin"> Bitcoin</span>
                <span class="wallet">clique aqui para ver a carteira</span>
                <div class="pop-wallet">
                    <div class="bg-pop"></div>
                    <div class="content-pop">
                        <span class="close-btn" title="Fechar Modal">×</span>
                        <div class="content-pop-text">
                            <span class="title"><img src="/img/btc.png" alt="Bitcoin"> Bitcoin</span>
                            <input type="text" class="style-input" value="bc1q5ypn5wg9pymf569r52c3hum6fcu0230s6t7vd8" disabled>
                            <input type="text" class="hidden-wallet" value="bc1q5ypn5wg9pymf569r52c3hum6fcu0230s6t7vd8">
                            <button class="copy-text button-green">Copiar endereço</button>
                            <span class="msg-copy">Carteira copiada com sucesso!</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item ltc">
                <span class="title"><img src="/img/ltc.png" alt="Litecoin"> Litecoin</span>
                <span class="wallet">clique aqui para ver a carteira</span>
                <div class="pop-wallet">
                    <div class="bg-pop"></div>
                    <div class="content-pop">
                        <span class="close-btn" title="Fechar Modal">×</span>
                        <div class="content-pop-text">
                            <span class="title"><img src="/img/ltc.png" alt="Litecoin"> Litecoin</span>
                            <input type="text" class="style-input" value="ltc1qyyv3j7xjlkm7ykwxhmfq3mheur8z4zd9u65x6c" disabled>
                            <input type="text" class="hidden-wallet" value="ltc1qyyv3j7xjlkm7ykwxhmfq3mheur8z4zd9u65x6c">
                            <button class="copy-text button-green">Copiar endereço</button>
                            <span class="msg-copy">Carteira copiada com sucesso!</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item dash">
                <span class="title"><img src="/img/dash.png" alt="Dash"> Dash</span>
                <span class="wallet">clique aqui para ver a carteira</span>
                <div class="pop-wallet">
                    <div class="bg-pop"></div>
                    <div class="content-pop">
                        <span class="close-btn" title="Fechar Modal">×</span>
                        <div class="content-pop-text">
                            <span class="title"><img src="/img/dash.png" alt="Dash"> Dash</span>
                            <input type="text" class="style-input" value="XxtrSNmdzfmdGgCqV66zBibUKcsbBmJ28g" disabled>
                            <input type="text" class="hidden-wallet" value="XxtrSNmdzfmdGgCqV66zBibUKcsbBmJ28g">
                            <button class="copy-text button-green">Copiar endereço</button>
                            <span class="msg-copy">Carteira copiada com sucesso!</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item nano">
                <span class="title"><img src="/img/nano.png" alt="Nano"> Nano</span>
                <span class="wallet">clique aqui para ver a carteira</span>
                <div class="pop-wallet">
                    <div class="bg-pop"></div>
                    <div class="content-pop">
                        <span class="close-btn" title="Fechar Modal">×</span>
                        <div class="content-pop-text">
                            <span class="title"><img src="/img/nano.png" alt="Nano"> Nano</span>
                            <input type="text" class="style-input" value="nano_1rhjkjrzoq5w46b5r6n1st5ot5u6judn7jhhnyf3yqj4cy1sgp4ekfshjdew" disabled>
                            <input type="text" class="hidden-wallet" value="nano_1rhjkjrzoq5w46b5r6n1st5ot5u6judn7jhhnyf3yqj4cy1sgp4ekfshjdew">
                            <button class="copy-text button-green">Copiar endereço</button>
                            <span class="msg-copy">Carteira copiada com sucesso!</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item brave">
                <a target="_blank" href="https://brave.com/pt/my-first-ad/" title="Brave Rewards"><img src="/img/brave-icon.png" alt="Brave Creators"></a>
            </li>
        </ul>
    </div>

</span>

<div class="footer-desc">
    <div class="content-post"><p class="title">Bem vindo à Colib!</p><br/><p>A muito tempo venho acompanhando diversos grupos Libertários nas redes sociais e pude conhecer muita gente realmente engajada, produzindo e compartilhando conteúdos de qualidade. Mas infelizmente, por estarem espalhados em diversas redes sociais, não alcançam a visibilidade merecida.</p><p><br></p><p>Pensando nisso, comecei a elaborar um projeto para dar voz a essas pessoas e permitir que elas divulguem suas ideias e projetos, tendo o seu devido reconhecimento. Ao mesmo tempo, possibilitar que elas entrem em contato com trabalho de outros autores, melhorando a troca de conhecimento e experiências em nossa comunidade.</p><p><br></p><p>E por isso criei a Colib, uma rede social feita por um Libertário para Libertários.&nbsp;</p><p>&nbsp;</p><p>Na Colib você poderá criar seu perfil e divulgar seus artigos, ideias, site pessoal, ecommerce, canal e etc.</p><p><br></p><p>Você também poderá cadastrar suas carteiras de criptomoedas, para que outros Libertários possam incentivar seu trabalho.</p><p><br></p><p>A Colib ainda está em sua primeira versão, irei implementar uma infinidade de outras funções, que irão melhorar ainda mais sua experiência como usuário.</p><p><br></p><p>Todo feedback e sugestão de melhoria é muito bem vindo, fique à vontade para mandar sugestões!</p></div>
</div>