<span class="right-menu-ads">
    <div class="ads">
        <p class="title">Patrocinadores:</p>
        <div class="partners">
            <p class="item">¯\_(ツ)_/¯</p>
        </div>
    </div>

    <div class="content-right ads">
        <p class='title'>Apoie nosso projeto</p>
        <ul class="wallets-list">
            <li class="item">
                <span class="title"><img src="/img/btc.png" alt="Bitcoin"> Bitcoin</span>
                <span class="wallet">clique aqui para ver a carteira</span>
            </li>
            <li class="item">
                <span class="title"><img src="/img/ltc.png" alt="Litecoin"> Litecoin</span>
                <span class="wallet">clique aqui para ver a carteira</span>
            </li>
            <li class="item">
                <span class="title"><img src="/img/dash.png" alt="Dash"> Dash</span>
                <span class="wallet">clique aqui para ver a carteira</span>
            </li>
            <li class="item">
                <span class="title"><img src="/img/nano.png" alt="Nano"> Nano</span>
                <span class="wallet">clique aqui para ver a carteira</span>
            </li>
            <li class="item brave">
                <a target="_blank" href="https://brave.com/pt/my-first-ad/" title="Brave Rewards"><img src="/img/brave-icon.png" alt="Brave Creators"></a>
            </li>
        </ul>
    </div>

    <div class="content-right ads">
        <p class='title'>Siga nas redes sociais</p>
        <div class="social-items">
            <a target="_blank" href="https://www.instagram.com/colib.site/"><img src="/img/svg/instagram.svg" alt="Instagram"></a>
        </div>
    </div>

</span>