<div class="bg-menu"></div>
<nav class="menu">
    <div class="close-btn">+</div>
    <ul>
        <li class="item logo">
            <a title="Home" href="/admin/library"><img src="/img/svg/colib-black.svg" alt="Colib"></a>
        </li>
        <li class="item library">
            <a title="Gerenciar Biblioteca" href="/admin/library?only=0"><span><img src="/img/svg/open-book.svg" alt="Gerenciar Biblioteca"></span>Gerenciar Biblioteca</a>
        </li>
        <li class="item articles">
            <a title="Gerenciar Artigos" href="/admin/articles?only=0"><span><img src="/img/svg/newspaper.svg" alt="Gerenciar Artigos"></span>Gerenciar Artigos</a>
        </li>
        {{!-- <li class="item groups">
            <a title="Gerenciar Comunidades" href="/admin/groups"><span><img src="/img/svg/groups.svg" alt="Gerenciar Comunidades"></span>Gerenciar Comunidades</a>
        </li> --}}
        <li class="item users">
            <a title="Gerenciar Usuários" href="/admin/users"><span><img src="/img/svg/users.svg" alt="Gerenciar Usuários"></span>Gerenciar Usuários</a>
        </li>
        {{!-- <li class="item medias">
            <a title="Minhas Mídias" href="/admin/medias"><span><img src="/img/svg/clapperboard.svg" alt="Minhas Mídias"></span>Minhas Mídias</a>
        </li> --}}
        <li class="item back-to-site">
            <a title="Voltar ao site" href="/"><span><img src="/img/svg/return.svg" alt="Voltar ao site"></span>Voltar ao site</a>
        </li>
        <li class="item settings">
            <a title="Configurações" href="/admin/settings"><span><img src="/img/svg/settings.svg" alt="Configurações"></span>Configurações</a>
            <a class="logout" title="Sair" href="/user/logout">Sair</a>
        </li>
    </ul>
</nav>
