<div id="middle">
    <div class="header-menu">
        <a class="btn-new style-button" href="/user/library/new-file">Enviar Mídia</a> 
        <form class="seach">
            <input type="text" class="search-input style-input" placeholder="Pesquisar">
            <button class="search-button"><img src="/img/svg/loupe.svg" alt="Pesquisar"></button>
        </form>
    </div>
</div>