<div id="middle">
    <div class="header-menu">
        <a class="btn-new style-button" href="/user/library">Voltar à Biblioteca</a> 
        <form class="seach">
            <input type="text" class="search-input style-input" placeholder="Pesquisar">
            <button class="search-button"><img src="/img/svg/loupe.svg" alt="Pesquisar"></button>
        </form>
    </div>

    {{>msg}}

    <div class="settings">
        <form action="/user/settings/edit" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="nickname" value="{{user.nickname}}">
            <div class="left content">
                <h2>Atualizar foto de perfil</h2>
                <div class="profile-picture style-input">
                    {{#if user.profile_picture}} 
                        <img src="{{user.profile_picture}}" alt="{{user.nickname}}">
                    {{/if}}
                    <label>Selecionar foto<br/> do perfil</label>
                    <input type="file" id="profile_picture" name="profile_picture" placeholder="Thumbnail do artigo" accept="image/*">
                </div> 
            </div>
            <div class="right content">
                <h2>Atualizar senha</h2>
                <input type="password" class="style-input" id="password" name="password" placeholder="Digite sua nova senha">
                <input type="password" class="style-input" id="password_confirmation" name="password_confirmation" placeholder="Repita sua nova senha">
                <small>*Preencha os campos acima somente se deseja mudar sua senha.</small>
            </div>
            <button class="style-button" type="submit">Atualizar cadastro</button>
        </form>
    </div>
    {{>ads}}
</div>