<div class="seach">
    <input type="text" class="search-input style-input" name="search_terms" placeholder="Pesquisar">
    <a class="search-button" href="/search?find=" type="submit"><img src="/img/svg/loupe.svg" alt="Pesquisar"></a>
</div>