<div class="view-content">
    <a href="?only=0" class="pending">Pendentes</a>
    <span class="vr"></span>
    <a href="?only=1" class="approved">Aprovados</a>
    <span class="vr"></span>
    <a href="?only=2" class="disapproved">Reprovados</a>
</div>