{{#if user}}
    {{#each user}}
        {{#if access}}
            <div class="user">
                {{#if_eq 2 access}}
                    <a class="hello" title="Minha Conta" href="/admin/settings"><span></span>Olá, <strong>{{nickname}}</strong>!</a>
                    <a class="style-button button-blue" title="Minha Conta" href="/admin/settings"><span></span>Minha conta</a>
                {{else}}
                    <a class="hello" title="Minha Conta" href="/user/settings"><span></span>Olá, <strong>{{nickname}}</strong>!</a>
                    <a class="style-button button-blue" title="Minha Conta" href="/user/settings"><span></span>Minha conta</a>
                {{/if_eq}}
                <a class="style-button button-red" title="Sair" href="/user/logout"><span></span>Sair</a>
            </div>
        {{/if}}
    {{/each}}
{{else}}
    <a class="btn-new style-button button-green" href="/user/login">Faça Login ou Cadastre</a> 
{{/if}}