<div class="bg-menu"></div>
<nav class="menu">
    <div class="close-btn">+</div>
    <ul>
        <li class="item logo">
            <a title="Home" href="/user/library"><img src="/img/svg/colib-black.svg" alt="Colib"></a>
        </li>
        <li class="item library">
            <a title="Minha Biblioteca" href="/user/library"><span><img src="/img/svg/open-book.svg" alt="Minha Biblioteca"></span>Minha Biblioteca</a>
        </li>
        <li class="item articles">
            <a title="Meus Artigos" href="/user/articles"><span><img src="/img/svg/newspaper.svg" alt="Meus Artigos"></span>Meus Artigos</a>
        </li>
        {{!-- <li class="item medias">
            <a title="Minhas Mídias" href="/user/medias"><span><img src="/img/svg/clapperboard.svg" alt="Minhas Mídias"></span>Minhas Mídias</a>
        </li> --}}
        <li class="item back-to-site">
            <a title="Voltar ao site" href="/"><span><img src="/img/svg/return.svg" alt="Voltar ao site"></span>Voltar ao site</a>
        </li>
        <li class="item settings">
            <a title="Configurações" href="/user/settings"><span><img src="/img/svg/settings.svg" alt="Configurações"></span>Configurações</a>
        </li>
    </ul>
</nav>
