<div id="middle">
    <div class="header-menu">
        <div class="register-mensage">
            <p>Quer compartilhar suas idéias ou colaborar com nossa biblioteca?</p>
            {{>widgets/wellcome_msg}}
        </div>
       {{>widgets/search_bar}}
    </div>

    {{>msg}}

    <div class="content-cards">
        {{>widgets/list_articles_site}}
    </div>
    {{>ads}}
</div>